#container{

}

#header, main ,fotter{
    text-align:  center;
}

#nav{
        padding: 0;
        margin: 0;
        list-style: none;
        display: flex;
        gap:10px;


}

.nav-item >a{
    color:black
    text-decoration none;

}